<a href="https://colab.research.google.com/github/VIVEK818713/Pandas/blob/main/01_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

### Series

In [ ]:
list_1=[1,2,-3,6.3,'vivek']

In [ ]:
series_1=pd.Series(list_1)
print(series_1)

In [ ]:
type(series_1)

In [ ]:
series_2=pd.Series([1,2,3,3.4])
print(series_2)

In [ ]:
empty=pd.Series([])
print(empty)

In [ ]:
s3=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(s3)

In [ ]:
series_3=pd.Series([1,2,3,4],index=['a','b','c','d'],
                   dtype=float)
print(series_3)

In [ ]:
series_3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float,name='data value')
print(series_3)

In [ ]:
scalar_s=pd.Series(0.5)
print(scalar_s)

In [ ]:
scalar_s=pd.Series(0.5,index=[1,2,3])
print(scalar_s)

In [ ]:
dict_s=pd.Series({'1':'a','2':'b'})
print(dict_s)

In [ ]:
s1=pd.Series([1,2,3,4])
s2=pd.Series([6,7,8,9])
s3=pd.Series([11,22])

In [ ]:
s1+s2

In [ ]:
s1.add(s2)

In [ ]:
s2.add(s3)

In [ ]:
max(s1)

In [ ]:
s2[s2>6]

### DataFrame

In [ ]:
empt_df=pd.DataFrame()
print(empt_df)

Data frame using List

In [ ]:
l1=['a','b','c']
df1=pd.DataFrame(l1)
df1

In [ ]:
l2=[[1,2,3],['a','b','c']]
df2=pd.DataFrame(l2)
df2

Dataframe using Dictionary

In [ ]:
dict1={'id':['a','b','c'],'SN':['e','f','g']}
df3=pd.DataFrame(dict1)
df3

Data frame list of dictionary

In [ ]:
lstdict=[{'a':1,'b':4},{'a':5,'b':2}]
df4=pd.DataFrame(lstdict)
df4

In [ ]:
lstdict=[{'a':1,'b':4},{'a':5,'b':2,'c':6}]
df4=pd.DataFrame(lstdict)
df4

Dictionary of series

In [ ]:
dic_sr={'id':pd.Series([1,2,3]),'SN':pd.Series([5,6,7])}
df5=pd.DataFrame(dic_sr)
df5

## Read CSV file using pandas

In [ ]:
#pd.read_csv(' please use your file path with file extension')

In [ ]:
import pandas as pd
pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv')# please use your file path

In [ ]:
import os
print(os.getcwd())

##pandas parameter--nrows,usecols,skiprows,index_col

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv')# please use your file path
df

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv',nrows=4)
df1

In [ ]:
df

In [ ]:
df1

what are the columns name in dataframe

In [ ]:
df.columns

## print perticular columns name

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv',usecols=[0,5])
df

In [ ]:
df

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv')
df

##skip the rows in dataframe

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv',skiprows=3)
df

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv',skiprows=[3,5,6])
df

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv',skiprows=[3,5,6])
df

## change the default index

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv')
df

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv',index_col='ID')
df

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv',index_col=2)
df

## pandas parameter--header,prefix(header none is must),names
* please understand header , prefix,names by yourself

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv')
df

In [ ]:
df.head(2)

In [ ]:
df.tail()

## head,tail,dtype,true_values,false_values

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/data sets/pandas data set/Fortune_10.csv',dtype={'ID':int})
df

## Handling Missing values
* NA  #NA -NaN   -nan  null NULL n/a N/A #N/A N/A ....

In [ ]:
import pandas as pd
df= pd.read_csv('/content/xyz.csv')
df

* na_values()--we can make any value as NaN in dataframe

In [ ]:
df= pd.read_csv('/content/xyz.csv',na_values='NOT AVIL')
df

In [ ]:
df= pd.read_csv('/content/xyz.csv')
df

* if you have columns and it has other than NaN values that should be consider as NaN so use dictionary

In [ ]:
df= pd.read_csv('/content/xyz.csv',
                na_values={'Industry':'NO VALUE','Growth':'NOT AVIL'})
df

In [ ]:
df= pd.read_csv('/content/xyz.csv')
df

In [ ]:
df= pd.read_csv('/content/xyz.csv',keep_default_na=False)
df

In [ ]:
df= pd.read_csv('/content/xyz.csv'')
df

* if there is NaN value then isnull() will return True where NaN is there in Dataframe

In [ ]:
df.isnull()

* if you want to check how many values in columns then use df.isnull().sum()

In [ ]:
df.isnull().sum()

* if you need total missing values in dataframe then use below code

In [ ]:
df.isnull().sum().sum()

notnull is just reverse of isnull

## Drop NA

In [ ]:
df=pd.read_csv('/content/xyz.csv')
df

* dropna() will drop all rows which have missing valuse

In [ ]:
df.dropna()

* if you want to drop missing values in columns then use axis=1 default is axis=0(row wise)

In [ ]:
df.dropna(axis=1)

* 'how' parameter take 2 values 
1.'any' 
2.'all' 
* any will search missing values and drop it(default is any)
* all will search if all the row value is missing then it will drop that row

In [ ]:
df.dropna(how='any')

In [ ]:
df=pd.read_csv("/content/xyz.csv")
df

In [ ]:
df.dropna(axis=1, how='any')

In [ ]:
df=pd.read_csv("/content/xyz.csv")
df  # for 'all' change your dataset for this and delete atleast 1 row and upload again the file

In [ ]:
df.dropna(how='all')

In [ ]:
df

In [ ]:
df.dropna(thresh=2)

In [ ]:
df=pd.read_csv('/content/xyz.csv')
df

* if you want to drop rows in a particular colmn or columns the use 'subset' parameter

In [ ]:
df.dropna(subset=['Growth','Industry'])

In [ ]:
df=pd.read_csv('/content/xyz.csv')
df

* if you dont want to create new dataframe means you just modify the dataframe so for this use inpalce=True.
as we know that default value of inplace is false

In [ ]:
df.dropna(inplace=True)

In [ ]:
df

In [ ]:
df.dropna(inplace=True)
df

## fillna()
* now we know the missing values 
* and how to drop missing values
* now our task is to fill that missing values by using fillna() function

In [ ]:
df=pd.read_csv('/content/xyz.csv')
df

* if there is any missing value and we want to fill NaN value with 'miet' or any value which you want you can take

In [ ]:
df.fillna('miet')

In [ ]:
# you can also use value parameter
df.fillna(value='xxxx')

In [ ]:
df

* if you want to fill missing value in particular column or columns the use dictionary in value parameter

In [ ]:
df.fillna(value={'Name':'miet'})

In [ ]:
df

* next parameter is method it will take 'backfill', 'bfill', 'pad', 'ffill', None, default value is None

In [ ]:
df.fillna(method='ffill',)
# ffill or pad is forward fill means the upper value will fill in missing value in that columns

In [ ]:
df.fillna(method='bfill')
# bfill or backfill is backward fill means the next value will fill in missing value in that columns

In [ ]:
df.fillna(method='ffill',axis=1)# with axis you have to use either value or method

In [ ]:
df.fillna(axis=1, method='ffill')

In [ ]:
df.fillna(method='ffill',limit=2)# with limit you have to use either value or method

In [ ]:
df.fillna(value=0,limit=2)

In [ ]:
df.fillna(value=0,inplace=True)

* some time we want to drop column or columns from the dataframe then use 'drop' not dropna.
* please remember when you use drop() then axis must be there otherwise it will return error

In [ ]:
df=pd.read_csv('/content/xyz.csv')
df

In [ ]:
df.drop(['Industry','Profit'],axis=1)

### Replace()
* some time we have to replace some value with other value then we use replace()
* and there are some parameters which replace() can take let's understand one by one

In [ ]:
df=pd.read_csv('/content/xyz.csv')
df

In [ ]:
df.replace(to_replace='Miet',value=0)
#df.replace('Miet',0) you can use any one both are same here we are using positional parameter

In [ ]:
df.replace('Health',0)

In [ ]:
# if you want to a particular values to replace with single value
df.replace([0,1,2,3,4,5,6,7,8,9,10],0)

In [ ]:
# if you want to a particular values to replace with same lenght value
df.replace([0,1,2,3,4,5,6,7,8,9,10],[11,22,33,44,55,66,77,88,99,111,45])

In [ ]:
# if you want to a particular columns values to replace with single value then use dictionary
df.replace({'Industry':'Health','Growth':'Miet'},'vivek')

regex

In [ ]:
df.replace('[a-zA-Z]',0)# it will reflect no effect so use regex parameter

In [ ]:
df.replace('[a-zA-Z]',0,regex=True)

In [ ]:
df.replace('[0-9]',0,regex=True)

In [ ]:
df.replace({'Industry':'[a-zA-Z]'},0,regex=True)

In [ ]:
df

In [ ]:
df.replace('Health',method='ffill')

In [ ]:
df.replace('Health',method='ffill',limit=1)

In [ ]:
df=pd.read_csv('/content/xyz.csv')
df

In [ ]:
df.fillna(0,inplace=True)

In [ ]:
df

### save you dataframe to csv file

In [ ]:
df.to_csv("new.csv")

### save you dataframe to excel file

In [ ]:
df.to_excel("new1.xls",index=False,sheet_name="vivek")

### save you dataframe to html file

In [ ]:
df.to_html("new2.html")

### you can read any file also like ....

In [ ]:
pd.read_excel('new1.xls')

In [ ]:
pd.read_html('new2.html')

### now try to change data type of columns
* astype()
* t0_numeric()
* convert_dtypes()

In [ ]:
df=pd.read_csv('/content/xyz.csv')
df

In [ ]:
df.fillna(0,inplace=True)

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
df1=df.astype({'Profit':int})
df1

In [ ]:
df1.dtypes

In [ ]:
df=df.astype({'Profit':str})
df.dtypes

In [ ]:
df['Profit']=df['Profit'].astype(int)

In [ ]:
df.dtypes

Use to_numeric for single column

In [ ]:
df['Profit']=pd.to_numeric(df['Profit'])

In [ ]:
df.Profit.dtype

use to_numeric for multiple columns us apply() also

In [ ]:
df=pd.read_csv('/content/Fortune_10.csv')
df

In [ ]:
df[['Profit','Inception']]=df[['Profit','Inception']].apply(pd.to_numeric)

In [ ]:
df.dtypes

convert_dtypes() it will convert automatically datatype according to your dataframe

In [ ]:
df=pd.read_csv('/content/xyz.csv')
df.dtypes

In [ ]:
df=df.convert_dtypes()

In [ ]:
df.dtypes

### Group by

In [ ]:
import pandas as pd
df = pd.read_csv('/content/student_result1.csv')
df

In [ ]:
gr1 = df.groupby(by = 'Section')
gr1

In [ ]:
gr1.groups

In [ ]:
df.groupby(['Section', 'Class']).groups

In [ ]:
for Class, df_1 in gr1:
    print(Class)
    print(df_1)

In [ ]:
list(gr1)              # convert to list

In [ ]:
dict(list(gr1))        # convert to dict

In [ ]:
#Selecting a group
 
# A single group can be selected using get_group():
 
gr3 = df.groupby('Class').get_group(10)
gr3

In [ ]:
gr3 = df.groupby('Section').get_group('A')
gr3

In [ ]:
# Applying a function into group
gr1.sum()

In [ ]:
gr1.mean()

In [ ]:
gr1.describe()

In [ ]:
gr1.agg(['sum', 'max', 'mean'])

### Merging Function --Multiple dataframe or csv file

In [ ]:
df1=pd.DataFrame({'ID':[1,2,3,4],'CLASS':[9,10,11,12]})
df2=pd.DataFrame({'ID':[1,2,3,4],'NAME':['A','B','C','D']})

In [ ]:
pd.merge(df1,df2,on='ID')# some columne must be same so use on parameter

In [ ]:
pd.merge(df2,df1,on='ID')

In [ ]:
# if common column have differen value then wats happen
df2=pd.DataFrame({'ID':[1,2,3,5],'NAME':['A','B','C','D']})
pd.merge(df1,df2,on='ID')# so now it will give common ID values only

* observe all the output for how parameter it is something like DBMS join

In [ ]:
# how parameter use inner,outer,left,right try this...
pd.merge(df1,df2,on='ID',how='inner')# inner is default

In [ ]:
pd.merge(df1,df2,on='ID',how='left')

In [ ]:
pd.merge(df1,df2,on='ID',how='right')

In [ ]:
pd.merge(df1,df2,on='ID',how='outer')

* now under stand indicator parameter it takes default vale False so here we will use True value 
* it will create extra column _merge 
* it will show which value is present

In [ ]:
pd.merge(df1,df2,on='ID',how='outer',indicator=True)

* if we want to check differnet value in both dataframe 
* then we use left_index and right_index 
* default value is False so we will use True here
* now it will create two new columns

In [ ]:
df1=pd.DataFrame({'ID':[1,2,3,4],'CLASS':[9,10,11,12]})
df2=pd.DataFrame({'ID':[5,6,7,8],'NAME':['A','B','C','D']})

In [ ]:
pd.merge(df1,df2,left_index=True,right_index=True)

In [ ]:
# if we not use left_index and right_index then we will get nothing 
# so if you have multiindex then use these parameter
# you have to use both left_index and right_index otherwise it will produce error
pd.merge(df1,df2)

* if you have same datframe and you are merging it then whats happen

In [ ]:
df1=pd.DataFrame({'ID':[1,2,3,4],'CLASS':[9,10,11,12]})

In [ ]:
df2=pd.DataFrame({'ID':[1,2,3,4],'CLASS':[9,10,11,12]})

In [ ]:
pd.merge(df1,df2,on='ID')

* if you want to change the name of columns then use suffixes parameter default it will use column_X and column_Y
* it can take tuple and list

In [ ]:
pd.merge(df1,df2,on='ID',suffixes=('_First','_Second'))

## Concate function--it is similar to merge()

In [ ]:
  s1=pd.Series([1,2,3,4])
  s2=pd.Series([5,6,7,8])
  display(s1,s2)

* now understand the parameter of concate()
* let's take objs parameter(you should use list for objs)
* it takes series, dataframe as input

In [ ]:
pd.concat([s1,s2])

In [ ]:
df1=pd.DataFrame({'ID':[1,2,3,4],'CLASS':[5,6,7,8],'Name':['A','B','C','D']})
df2=pd.DataFrame({'ID':[5,6,7,8],'CLASS':[9,10,11,12],'Name':['E','F','G','H']})

In [ ]:
pd.concat([df1,df2])#here we concat at axis 0 which means row wise

In [ ]:
pd.concat([df1,df2],axis=1)

In [ ]:
#in this case index is not in order so we can make it in order
# so we will use ignor_index parameter
pd.concat([df1,df2],axis=0,ignore_index=True)

In [ ]:
df1=pd.DataFrame({'ID':[1,2,3,4],'CLASS':[5,6,7,8],'Name':['A','B','C','D']})
df2=pd.DataFrame({'ID':[1,2],'CLASS':[9,10],'Name':['E','F']})

In [ ]:
pd.concat([df1,df2])

In [ ]:
pd.concat([df1,df2],axis=1)# here it is using join parameter as outer means union

In [ ]:
pd.concat([df1,df2],axis=1,join='outer')

In [ ]:
pd.concat([df1,df2],axis=1,join='inner')# inner means intersection

In [ ]:
df1=pd.DataFrame({'ID':[1,2,3,4],'CLASS':[5,6,7,8],'Name':['A','B','C','D']})
df2=pd.DataFrame({'ID':[5,6,7,8],'CLASS':[9,10,11,12],'Name':['E','F','G','H']})

* if you want to seprate dataframe from combine dataframe then use keys parameter

In [ ]:
pd.concat([df1,df2],keys=['df1','df2'])

In [ ]:
pd.concat([df1,df2],keys=['first df','second df'])

In [ ]:
pd.concat([df1,df2],keys=['first df1','second df2'],axis=1)

* if you want to concat differn columns names dat frame then..

In [ ]:
df1=pd.DataFrame({'ID':[1,2,3,4],'CLASS':[5,6,7,8],'Name':['A','B','C','D']})
df2=pd.DataFrame({'MARKS':[11,22,33,44]})

In [ ]:
pd.concat([df1,df2])

## join()--DataFrame Join is a convenient method for combining the colums of two partiallly differently-indexed
* parameter of join ()-other,on ,how,lsuffix rsuufix

In [ ]:
df1=pd.DataFrame({'A':[1,2,3,4],'B':[10,20,30,40]})
df2=pd.DataFrame({'C':[4,5,6,5],'D':[101,202,303,404]})

In [ ]:
display(df1,df2)

*other : DataFrame, Series, or list of DataFrame

In [ ]:
df1.join(df2)

* index is different then we can not join this

In [ ]:
df1=pd.DataFrame({'A':[1,2,3,4],'B':[10,20,30,40]},index=['a','b','c','d'])
df2=pd.DataFrame({'C':[4,5],'D':[101,202]})# here index is different
# so it will give NaN for the unmatched index
# if you want to join two DataFrame then it is a must that both indexes must be same try yourself

In [ ]:
df1.join(df2)

In [ ]:
df1=pd.DataFrame({'A':[1,2,3,4],'B':[10,20,30,40]},index=['a','b','c','d'])
df2=pd.DataFrame({'C':[4,5],'D':[101,202]},index=['a','b'])# here df2 index is less than df1

In [ ]:
df1.join(df2)

* if you want to handle this then use 'how' parameter
* 'how' parameter will take value left,right,inner,outer

In [ ]:
df1.join(df2,how='left')

In [ ]:
df1.join(df2,how='right')

In [ ]:
df1.join(df2,how='inner')# inner is work as right inner is like intersection also

In [ ]:
df1.join(df2,how='outer')# outer is work as left inner is like union also

* if you have same columns name then use lsuffix or rsuffix parameter to distinguish the DataFarme

In [ ]:
df1=pd.DataFrame({'A':[1,2,3,4],'B':[10,20,30,40]},index=['a','b','c','d'])
df2=pd.DataFrame({'A':[4,5],'D':[101,202]},index=['a','b'])

In [ ]:
# if you try to join this then it will produce error because of same columns name
# let's try this
df1.join(df2)

In [ ]:
df1.join(df2,rsuffix='_2')# now it will work

In [ ]:
df1.join(df2,lsuffix='_1')# now it will work

## Pandas Append() 
* Append() is used to append rows of other data frame to the end of the given dataframe,returning a new dataframe object

In [ ]:
#append()
df1=pd.DataFrame({'A':[1,2,3,4],'B':[10,20,30,40]})
df2=pd.DataFrame({'A':[1,2,3,4],'B':[10,20,30,40]})

In [ ]:
display(df1,df2)

In [ ]:
df1.append(df2)

* if you change the index then use ignore_index

In [ ]:
df1.append(df2,ignore_index=True)

* if dataframe columns are different

In [ ]:
df1=pd.DataFrame({'A':[1,2,3,4],'B':[10,20,30,40])
df2=pd.DataFrame({'C':[1,2,3,4],'D':[10,20,30,40]})

In [ ]:
df1.append(df2,ignore_index=True)

## Pivot Table
* we use pivot table to summarize and aggregate the data and it return new dataframe

In [ ]:
#pivot table
df=pd.read_csv('/content/movie.csv')
df

In [ ]:
df.pivot_table(index='Genre')# now it will give mean value 
# and we will change it after some time

In [ ]:
df.pivot_table(index='Genre',columns='Year')

In [ ]:
df.pivot_table(index='Genre',columns='Year',aggfunc='count')

In [ ]:
df.pivot_table(index='Genre',columns='Year',aggfunc='sum')

In [ ]:
df.pivot_table(index='Genre',columns='Year',aggfunc='max')

In [ ]:
# if you want to fill above NaN value then use fill_value
# it will take only scaler value means single value of any type
df.pivot_table(index='Genre',columns='Year',aggfunc='sum',fill_value=0)

In [ ]:
df.pivot_table(index='Genre',columns='Year',aggfunc='sum',fill_value='none')

* if nay column have NaN value the it will remove autometically 
* because dropna is true as default

In [ ]:
df.pivot_table(index='Genre',columns='Year',aggfunc='mean',fill_value=0,margins=True)
# it will treat as mean of all column and rows
# and add one All column and rows
# defalut it takes mean

In [ ]:
df.pivot_table(index='Genre',columns='Year',aggfunc='sum',fill_value=0,margins=True)

In [ ]:
df

## melt()
* it is used to transform or reshape the data

In [ ]:
# it will create two columns 1. index 2. variable(columns) 3. value(value of variable)
pd.melt(df)

In [ ]:
pd.melt(df,id_vars=['Genre'])

In [ ]:
pd.melt(df,id_vars=['Year'])

In [ ]:
pd.melt(df,id_vars=['Year'],value_vars=['Genre'])#many columns to few rows use value_vars

In [ ]:
pd.melt(df,id_vars=['Year'],value_vars=['Rating %'])

In [ ]:
# if you want to change variable(column) name then use var_name parametr
pd.melt(df,id_vars=['Year'],value_vars=['Rating %'],var_name='category')

In [ ]:
# if you want to change value(column)) name then use var_name parametr
pd.melt(df,id_vars=['Year'],value_vars=['Rating %'],var_name='category',value_name='data')

## loc and iloc

In [ ]:
#loc and i loc
df

In [ ]:
df.loc[0]

In [ ]:
df.loc[4]

In [ ]:
df.loc[[0,1]]

In [ ]:
df

In [ ]:
df.loc[1,'Budget']

In [ ]:
df.loc[0:3,'Budget']

In [ ]:
df.loc[[True,False,True,False,False,False,False,False,False]]

In [ ]:
df.loc[df['Budget']>20]

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0,1]]

In [ ]:
df.loc[0:3,'Budget']

In [ ]:
df.iloc[0:3,2]